.navbar-brand {
    cursor: pointer;
}

.navbar-brand:hover {
    opacity: 0.8;
}

.post-list-card-link-wrapper {
    display: flex;
    color: initial;
}

.post-list-card-link-wrapper:hover {
    text-decoration: none;
}

.post-body {
    font-size: 1.125rem;
}
